In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [61]:
Electricity_production_from_renewable_sources= pd.read_json("Electricity_production_from_oil_sources.json")
Electricity_production_from_renewable_sources

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,Last Updated Date,2022-07-20,,,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.12291499758958,3.19332933523694,3.33076647467845,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Kosovo,XKX,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.229885057471264,0.275938189845475,0.245138094459879,NaN,NaN,NaN,NaN,NaN,NaN,
264,"Yemen, Rep.",YEM,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,67.9802376191036,61.443892231232,60.1952684941795,NaN,NaN,NaN,NaN,NaN,NaN,
265,South Africa,ZAF,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.0758317798350659,0.0757603088134493,0.074168341871474,NaN,NaN,NaN,NaN,NaN,NaN,
266,Zambia,ZMB,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.142857142857143,2.83697758095765,3.00617605476598,NaN,NaN,NaN,NaN,NaN,NaN,
267,Zimbabwe,ZWE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.595611285266458,0.538599640933573,0.494386651560408,NaN,NaN,NaN,NaN,NaN,NaN,

In [62]:
# Drop the first row
Electricity_production_from_renewable_sources= Electricity_production_from_renewable_sources.drop(index=0)
    
# Set the second row as the header
Electricity_production_from_renewable_sources.columns = Electricity_production_from_renewable_sources.iloc[0]
Electricity_production_from_renewable_sources = Electricity_production_from_renewable_sources.drop(index=1)

In [63]:
Electricity_production_from_renewable_sources

1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.12291499758958,3.19332933523694,3.33076647467845,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
5,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,6.89366790527732,7.42563871711695,7.82024821265885,NaN,NaN,NaN,NaN,NaN,NaN,
6,Angola,AGO,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,41.9790652385589,46.8248945147679,46.8250716919295,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Kosovo,XKX,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.229885057471264,0.275938189845475,0.245138094459879,NaN,NaN,NaN,NaN,NaN,NaN,
264,"Yemen, Rep.",YEM,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,67.9802376191036,61.443892231232,60.1952684941795,NaN,NaN,NaN,NaN,NaN,NaN,
265,South Africa,ZAF,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.0758317798350659,0.0757603088134493,0.074168341871474,NaN,NaN,NaN,NaN,NaN,NaN,
266,Zambia,ZMB,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.142857142857143,2.83697758095765,3.00617605476598,NaN,NaN,NaN,NaN,NaN,NaN,
267,Zimbabwe,ZWE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.595611285266458,0.538599640933573,0.494386651560408,NaN,NaN,NaN,NaN,NaN,NaN,

In [64]:
Electricity_production_from_renewable_sources.isnull().sum()

1
Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                0
                 ...
2018.0            266
2019.0            266
2020.0            266
2021.0            266
                    0
Length: 67, dtype: int64

In [65]:
Electricity_production_from_renewable_sources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 2 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            266 non-null    object
 5   1961            266 non-null    object
 6   1962            266 non-null    object
 7   1963            266 non-null    object
 8   1964            266 non-null    object
 9   1965            266 non-null    object
 10  1966            266 non-null    object
 11  1967            266 non-null    object
 12  1968            266 non-null    object
 13  1969            266 non-null    object
 14  1970            266 non-null    object
 15  1971            266 non-null    object
 16  1972            266 non-null    object
 17  1973            266 non-null    object
 18  1974            266 non-null    object
 19  1975            266 non-null    object
 20  1976            266 non-null    object
 21  1977            266 non-null    object
 22  1978            266 non-null    object
 23  1979            266 non-null    object
 24  1980            266 non-null    object
 25  1981            266 non-null    object
 26  1982            266 non-null    object
 27  1983            266 non-null    object
 28  1984            266 non-null    object
 29  1985            266 non-null    object
 30  1986            266 non-null    object
 31  1987            266 non-null    object
 32  1988            266 non-null    object
 33  1989            266 non-null    object
 34  1990            266 non-null    object
 35  1991            266 non-null    object
 36  1992            266 non-null    object
 37  1993            266 non-null    object
 38  1994            266 non-null    object
 39  1995            266 non-null    object
 40  1996            266 non-null    object
 41  1997            266 non-null    object
 42  1998            266 non-null    object
 43  1999            266 non-null    object
 44  2000            266 non-null    object
 45  2001            266 non-null    object
 46  2002            266 non-null    object
 47  2003            266 non-null    object
 48  2004            266 non-null    object
 49  2005            266 non-null    object
 50  2006            266 non-null    object
 51  2007            266 non-null    object
 52  2008            266 non-null    object
 53  2009            266 non-null    object
 54  2010            266 non-null    object
 55  2011            266 non-null    object
 56  2012            266 non-null    object
 57  2013            266 non-null    object
 58  2014            266 non-null    object
 59  2015            266 non-null    object
 60  2016.0          0 non-null      float64
 61  2017.0          0 non-null      float64
 62  2018.0          0 non-null      float64
 63  2019.0          0 non-null      float64
 64  2020.0          0 non-null      float64
 65  2021.0          0 non-null      float64
 66                  266 non-null    object
dtypes: float64(6), object(61)
memory usage: 139.4+ KB

In [66]:
Electricity_production_from_renewable_sources["1960"].value_counts()

1960
                     235
5.52473308778964       1
8.27708703374778       1
10.1041905198076       1
6.67118024370719       1
2.43976822201891       1
0.105867085581586      1
6.80317064678099       1
0                      1
0.699656532247806      1
19.423589246791        1
5.7375494522981        1
0.819672131147541      1
17.0562770562771       1
6.67083407751384       1
4.53720508166969       1
5.48187444739169       1
6.70885453763122       1
26.3318777292576       1
15.0380546025889       1
3.5478756711387        1
9.08773968622894       1
4.840595496146         1
3.16428494681423       1
5.03845869802935       1
27.9241877256318       1
2.70858565753924       1
0.869565217391304      1
1.02874980597761       1
13.2325765575502       1
4.28053360963606       1
6.42257705904494       1
Name: count, dtype: int64

In [67]:
Electricity_production_from_renewable_sources["1960"]=Electricity_production_from_renewable_sources["1960"].replace("","0.0")

In [68]:
Electricity_production_from_renewable_sources["1960"]=Electricity_production_from_renewable_sources["1960"].astype(float)

In [69]:
Electricity_production_from_renewable_sources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 2 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            266 non-null    float64
 5   1961            266 non-null    object
 6   1962            266 non-null    object
 7   1963            266 non-null    object
 8   1964            266 non-null    object
 9   1965            266 non-null    object
 10  1966            266 non-null    object
 11  1967            266 non-null    object
 12  1968            266 non-null    object
 13  1969            266 non-null    object
 14  1970            266 non-null    object
 15  1971            266 non-null    object
 16  1972            266 non-null    object
 17  1973            266 non-null    object
 18  1974            266 non-null    object
 19  1975            266 non-null    object
 20  1976            266 non-null    object
 21  1977            266 non-null    object
 22  1978            266 non-null    object
 23  1979            266 non-null    object
 24  1980            266 non-null    object
 25  1981            266 non-null    object
 26  1982            266 non-null    object
 27  1983            266 non-null    object
 28  1984            266 non-null    object
 29  1985            266 non-null    object
 30  1986            266 non-null    object
 31  1987            266 non-null    object
 32  1988            266 non-null    object
 33  1989            266 non-null    object
 34  1990            266 non-null    object
 35  1991            266 non-null    object
 36  1992            266 non-null    object
 37  1993            266 non-null    object
 38  1994            266 non-null    object
 39  1995            266 non-null    object
 40  1996            266 non-null    object
 41  1997            266 non-null    object
 42  1998            266 non-null    object
 43  1999            266 non-null    object
 44  2000            266 non-null    object
 45  2001            266 non-null    object
 46  2002            266 non-null    object
 47  2003            266 non-null    object
 48  2004            266 non-null    object
 49  2005            266 non-null    object
 50  2006            266 non-null    object
 51  2007            266 non-null    object
 52  2008            266 non-null    object
 53  2009            266 non-null    object
 54  2010            266 non-null    object
 55  2011            266 non-null    object
 56  2012            266 non-null    object
 57  2013            266 non-null    object
 58  2014            266 non-null    object
 59  2015            266 non-null    object
 60  2016.0          0 non-null      float64
 61  2017.0          0 non-null      float64
 62  2018.0          0 non-null      float64
 63  2019.0          0 non-null      float64
 64  2020.0          0 non-null      float64
 65  2021.0          0 non-null      float64
 66                  266 non-null    object
dtypes: float64(7), object(60)
memory usage: 139.4+ KB

In [70]:
Electricity_production_from_renewable_sources.head(2)

1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,0.0,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,0.0,,,,,,...,3.12291499758958,3.19332933523694,3.33076647467845,NaN,NaN,NaN,NaN,NaN,NaN,

In [71]:
import pandas as pd

for i in range(5, len(Electricity_production_from_renewable_sources.columns)):
    Electricity_production_from_renewable_sources.iloc[:, i] = Electricity_production_from_renewable_sources.iloc[:, i].replace("","0.0")

In [72]:
for i in range(5, len(Electricity_production_from_renewable_sources.columns)):
    Electricity_production_from_renewable_sources.iloc[:, i] = Electricity_production_from_renewable_sources.iloc[:, i].fillna("0.0")

In [73]:
for i in Electricity_production_from_renewable_sources.columns:
    Electricity_production_from_renewable_sources[i] = pd.to_numeric(Electricity_production_from_renewable_sources[i], errors = 'ignore')

# Getting the info()
Electricity_production_from_renewable_sources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 2 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            266 non-null    float64
 5   1961            266 non-null    float64
 6   1962            266 non-null    float64
 7   1963            266 non-null    float64
 8   1964            266 non-null    float64
 9   1965            266 non-null    float64
 10  1966            266 non-null    float64
 11  1967            266 non-null    float64
 12  1968            266 non-null    float64
 13  1969            266 non-null    float64
 14  1970            266 non-null    float64
 15  1971            266 non-null    float64
 16  1972            266 non-null    float64
 17  1973            266 non-null    float64
 18  1974            266 non-null    float64
 19  1975            266 non-null    float64
 20  1976            266 non-null    float64
 21  1977            266 non-null    float64
 22  1978            266 non-null    float64
 23  1979            266 non-null    float64
 24  1980            266 non-null    float64
 25  1981            266 non-null    float64
 26  1982            266 non-null    float64
 27  1983            266 non-null    float64
 28  1984            266 non-null    float64
 29  1985            266 non-null    float64
 30  1986            266 non-null    float64
 31  1987            266 non-null    float64
 32  1988            266 non-null    float64
 33  1989            266 non-null    float64
 34  1990            266 non-null    float64
 35  1991            266 non-null    float64
 36  1992            266 non-null    float64
 37  1993            266 non-null    float64
 38  1994            266 non-null    float64
 39  1995            266 non-null    float64
 40  1996            266 non-null    float64
 41  1997            266 non-null    float64
 42  1998            266 non-null    float64
 43  1999            266 non-null    float64
 44  2000            266 non-null    float64
 45  2001            266 non-null    float64
 46  2002            266 non-null    float64
 47  2003            266 non-null    float64
 48  2004            266 non-null    float64
 49  2005            266 non-null    float64
 50  2006            266 non-null    float64
 51  2007            266 non-null    float64
 52  2008            266 non-null    float64
 53  2009            266 non-null    float64
 54  2010            266 non-null    float64
 55  2011            266 non-null    float64
 56  2012            266 non-null    float64
 57  2013            266 non-null    float64
 58  2014            266 non-null    float64
 59  2015            266 non-null    float64
 60  2016.0          266 non-null    float64
 61  2017.0          266 non-null    float64
 62  2018.0          266 non-null    float64
 63  2019.0          266 non-null    float64
 64  2020.0          266 non-null    float64
 65  2021.0          266 non-null    float64
 66                  266 non-null    float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB

In [74]:
Electricity_production_from_renewable_sources=Electricity_production_from_renewable_sources[Electricity_production_from_renewable_sources["Country Name"]=="India"]
Electricity_production_from_renewable_sources

1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
111,India,IND,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,1.956334,1.767436,1.659504,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
Electricity_production_from_renewable_sources.columns = (
    Electricity_production_from_renewable_sources.columns
    .str.replace(r'\.0$', '', regex=True)
)

In [75]:
Electricity_production_from_renewable_sources.columns = (
    Electricity_production_from_renewable_sources.columns.str.replace('.0', '', regex=False)
)

In [35]:
import pandas as pd

# Assuming Electricity_production_from_renewable_sources is your DataFrame
Electricity_production_from_renewable_sources.columns = Electricity_production_from_renewable_sources.columns.str.replace(r'\.0$', '', regex=True)

In [76]:
Electricity_production_from_renewable_sources

1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,NaN,NaN,NaN,NaN,NaN,NaN,
111,India,IND,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,1.956334,1.767436,1.659504,0.0,0.0,0.0,0.0,0.0,0.0,0.0